extends /layout/_application
block title
  title #{meta.title}
block body
  div#wrapper
    canvas#canvas
    div#plot_container
    form#setPlot
      |横
      input.width(type="number" value="9")
      |縦
      input.height(type="number" value="6")
      input.submit(type="submit" value="設定")
